doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Our Project
    style(type='text/css').
      html, #page { padding:0; margin:0;}
      body { margin:0; padding:0; width:100%; color:black; font:normal 12px/2.0em Serif;}
      h1, h2, h3, h4, h5, h6 {color:black;}
      #page { background:silver;}
      #header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
      /* Logo */
      #logo { padding:10px; width:auto; float:left;}
      #logo h1 a, h1 a:hover { color:black; text-decoration:none;}
      #logo h1 span { color:#d3d3f9;}
      /* Header */
      #header { background:#fff; }
      #header-inner { margin:0 auto; padding:10px; width:970px;background:#fff;}
      /* Feature */
      .feature { background:limegreen;padding:0;}
      .feature-inner { margin:auto;padding:10px;width:970px;background:limegreen; }
      .feature-inner h1 {color:#d3d3f9;font-size:32px;text-align:center}
      /* Menu */
      #top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
      #top-nav ul { list-style:none; padding:0; height:37px; float:left;}
      #top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
      #top-nav ul li a { display:block; margin:0; padding:8px 20px; color:black; text-decoration:none;}
      #top-nav ul li.active a, #top-nav ul li a:hover { color:#d3d3f9;}
      /* Content */
      #content-inner { margin:0 auto; padding:10px; width:970px;background:silver;}
      #content #contentbar { margin:0; padding:0; float:right; width:760px;}
      #content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
      #content #sidebar { padding:0; float:left; width:200px;}
      #content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
      #content #sidebar .widget h3 a { text-decoration:none;}
      #content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
      #content #sidebar .widget ul li { margin:0;}
      #content #sidebar .widget ul li { padding:4px 0; width:185px;}
      #content #sidebar .widget ul li a { color:black; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
      #content #sidebar .widget ul li a:hover { color:#d3d3f9; font-weight:bold; text-decoration:none;}
      /* Footerblurb */
      #footerblurb { background:silver;color:black;}
      #footerblurb-inner { margin:0 auto; width:970px; padding:10px;background:#d3d3f9;border-bottom-right-radius:15px;border-bottom-left-radius:15px;}
      #footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}
      /* Footer */
      #footer { background:silver;}
      #footer-inner { background:silver;margin:auto; text-align:center; padding:12px; width:970px;}
      #footer a {color:black;text-decoration:none;}
      /* Clear both sides to assist with div alignment  */
      .clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
    script(type='text/javascript').
      /* =============================
      This script generates sample text for the body content.
      You can remove this script and any reference to it.
      ============================= */
      var bodyText=["The smaller your reality, the more convinced you are that you know everything.", "If the facts don't fit the theory, change the facts.", "The past has no power over the present moment.", "This, too, will pass.", "</p><p>You will not be punished for your anger, you will be punished by your anger.", "Peace comes from within. Do not seek it without.", "<h2>Heading</h2><p>The most important moment of your life is now. The most important person in your life is the one you are with now, and the most important activity in your life is the one you are involved with now."]
      function generateText(sentenceCount){
      for (var i=0; i<sentenceCount; i++)
      document.write(bodyText[Math.floor(Math.random()*7)]+" ")
      }
  body
    #page
      header#header
        #header-inner
          #logo
            h1
              a(href='../')
                | RAD
                span Energy
          #top-nav
            ul
              li
                a(href='/our_project') Our Project
              li
                a(href='/education') Education
              li
                a(href='/contact') Contact Us
              li
                a(href='/example') School Example
          .clr
      .feature
        .feature-inner
          h1 Our Project
      #content
        #content-inner
          main#contentbar
            .article
              h2(align="center") Sumamry, Conclusions, Reccomendations
              h3 Final Conclusions
              p
                |Throughout the process of the project our group came across lots of highs, which were accompanied by several lows. In particular, when it came to the prototype of the dashboard and RAD Energy Console it did not just take a few class periods to work on them. The minimal data we have received is different what was expect as it was not expected that humidity inside followed the humidity outside. When the engineering goals were originally constructed we set out to - design a
                |comprehensive dashboard in which students and teachers can easily engage and understand their energy habits, help Newman reduce its monthly energy bills and provide solutions to maintain it, and combine the Raspberry Pi with various sensors that will feed data from classrooms to our database. In the process of creating our first prototype we struggled to make use of only a month's worth of data. However, we plan to have the energy console running through the entire break. This
                |will allow us to notice two drastic points of energy usage, a slice of time where school is in session and another where no one is there. This upcoming break will be quintessential to our overall goal of making meaningful decisions for Newman’s energy usage.
              p
                |With the first prototype done our group was filled with confidence that we were so close to finishing. However, once we discovered that the acrylic box we embedded our sensors and Raspberry Pi into was overheating from the Pi. This overheating caused the temperature sensor to give an inaccurate reading. The temperature sensor was the most important sensor, because temperature control is where a majority of energy usage comes from. To make things worse, we found out that the
                |DHT11 temperature/humidity sensor that we were using had an uncertainty of plus or minus 3 degrees Fahrenheit without the overheating problem meaning that the data we had collected was useless because 
              h3 Reccomendations and Future research
              p •	In order to solve the problem of the overheating acrylic, the decision is to order a 5v cooling fan specifically for the Raspberry Pi, and instead of having a closed acrylic box that insulates the heat we have decided to 3D print a nylon energy console with holes found around the entire console to assist with air flow.
              p •	Our group has also decided to purchase the DHT22 temperature/humidity sensors which replace the DHT11 sensors. Unlike the DHT11, the DHT22 has an uncertainty of only plus or minus .5 degrees Fahrenheit.
              p •	These two solutions alone should offer for an aesthetically pleasing energy module while also offering the efficiency needed to collect meaningful data.

            
                
          nav#sidebar
            .widget
              h3 Sub-Pages
              ul
                li
                  a(href='/our_project/home') Home
                li
                  a(href='/our_project/problem') The Problem and Its Setting
                li
                  a(href='/our_project/literature') Background of Related Literature
                li
                  a(href='/our_project/research') Research Methodology
                li
                  a(href='/our_project/findings') Findings
                li
                  a(href='/our_project/conclusions') Summary, Conclusions, and Reccomendations
                li
                  a(href='/our_project/bibliography') Bibliography
          .clr
      #footerblurb
        #footerblurb-inner
          .column
            h2
              span Heading
            p
              script.
                generateText(2)
          .column
            h2
              span Heading
            p
              script.
                generateText(2)
          .column
            h2
              span Heading
            p
              script.
                generateText(2)
          .clr
      footer#footer
        #footer-inner
          p
            | © Copyright 
            a(href='#') Your Site
            |  
            a(href='#') Terms of Use
            |  
            a(href='#') Privacy Policy
          .clr
